:root{
  --text: #e8e8e8;
  --background: #030303;
  --primary: #ffdc00;
  --secondary: #1f1f1f;
  --accent: #858585;
}

#root{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
}
.header{
  display: flex;
  justify-content: center;
  grid-column: 1/3;
}
.header .logo img {
  width: 25rem;
  filter: grayscale(40%);
}

.main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
  grid-column: 1/3;
}


.main .championSelection {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 list-style: none;
 gap: .5rem;
 padding: 2rem;
 margin: 0 auto;
 width: 50rem;
 padding: 10px;
 border: var(--primary) 2px solid ;
 border-radius: 5px;
}
.main .championSelection img{
  width: 50px;
  border: var(--accent) 1px solid ;
  border-radius: 5px;
  filter: grayscale(1);
}
.main .championSelection .selected{
  filter: grayscale(0);
}
